USE [thien]
GO

IF OBJECT_ID('[dbo].[students]', 'U') IS NOT NULL
DROP TABLE [dbo].[students];
GO

CREATE TABLE [dbo].[students](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [name] [nvarchar](100) NULL,
    [email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY]
GO

INSERT [dbo].[students] ([name], [email]) VALUES (N'Nguyễn Văn A', N'a@gmail.com')
INSERT [dbo].[students] ([name], [email]) VALUES (N'Trần Thị B', N'b@gmail.com')
INSERT [dbo].[students] ([name], [email]) VALUES (N'Lê Văn C', N'c@gmail.com')
GO